@using Humanizer;
@model IEnumerable<MyLibrary.Models.Book>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";

}

<button class="btn btn-outline-info"><a style="text-decoration:none" asp-action="Create">+ Add a new book</a></button>
@foreach(var book in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@book.Title</h5>
            <h6 class="card-subtitle">@book.Author</h6>
            <p>@book.Description</p>
            <p>@book.Category</p>
            <p> Released : @book.ReleaseDate.Humanize()</p>

            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@book.Id" class="card-link">Edit</a>
            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@book.Id" class="card-link">Delete</a>
        </div>
    </div>

}